<!-- Modal for adding Users-->
<div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
            <form action="addUser" method="post">
                <div class="row mb-3">
                    <div class="col">
                        <label for="name" class="form-label ">Name</label>
                        <input type="text" class="form-control " id="firstName" name="firstName" placeholder="Enter name" required>
                    </div>
                    <div class="col">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="position" class="form-label">Position</label>
                        <select class="form-select form-control" id="position" name="position" required>
                            <option selected>None</option required>
                            <% positions.forEach(position => { %>
                                <option value="<%= position.position %>"> <%= position.position %></option>
                            <% }) %>
                        </select>
                    </div>
                    
                    <div class="col">
                        <label for="role" class="form-label">Role</label>
                        <select class="form-select form-control" id="role" name="role" required>
                            <option selected>user</option>
                            <option value="admin">Admin</option>
                            <option value="manager">Manager</option>
                            <option value="3">Employee</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
                    </div>
                    <div class="col">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password">
                    </div>
                </div>
        </div>        
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>
      </div>
    </div>
</div>

<!-- Modal to edith USers -->
<div class="modal fade" id="edithUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edith USer</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
            <form id="editUserForm" name="editUserForm" method="post">
                <div class="row mb-3">
                    <div class="col">
                        <label for="name" class="form-label ">Name</label>
                        <input type="text" class="form-control " id="firstName" name="firstName" placeholder="Enter name" required>
                    </div>
                    <div class="col">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="position" class="form-label">Position</label>
                        <select class="form-select form-control" id="position1" name="position" required>
                            <option selected>none</option>
                            <% positions.forEach(position => { %>
                                <option value="<%= position.position %>"> <%= position.position %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="col">
                        <label for="role" class="form-label">Role</label>
                        <select class="form-select form-control" id="role" name="role" required>
                            <option selected>user</option>
                            <option value="admin">Admin</option>
                            <option value="manager">Manager</option>
                            <option value="3">Employee</option>
                        </select>
                    </div>
                </div>
        </div>        
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>
      </div>
    </div>
</div>

<!-- Modal for adding Position-->
<div class="modal fade" id="addPositionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>     
        <div class="modal-body">
            <form action="addPosition" method="post">
                <div class="row mb-3">
                    <div class="col">
                        <label for="position" class="form-label">Position</label>
                        <input type="text" class="form-control" id="position" name="position" placeholder="Enter position" required>
                    </div>
                </div>
        </div>        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>
      </div>
    </div>
</div>

<!-- Modal for  edithing positions Position-->
<div class="modal fade" id="edithPositionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>     
        <div class="modal-body">
            <form action="edithPosition" method="post">
                <div class="row mb-3">
                    <% positions.forEach((position, index) => { %>
                        <div class="col">
                            <div class="input-group">
                                <input type="text" value="<%= position.position %>" 
                                    class="form-control w-75" id="<%= position.id %>" name="positions"
                                    placeholder="Enter position" required>
                                <input type="hidden" value="<%= position.id %>" 
                                class="form-control w-75" id="<%= position.id %>" name="id"
                                placeholder="Enter position" required>
                                <a href="/deletePosition/<%= position.id %>" class="delete-user" style="margin-left: 10px; margin-top: 4px;">
                                    <i class="fa-solid fa-trash" style="color: red;"></i>
                                </a>
                            </div>
                        </div>
                        <% if (index % 2 === 1 || index === positions.length - 1) { %>
                            </div><div class="row mb-3">
                        <% } %>
                    <% }) %>
                </div>
        </div>        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>
      </div>
    </div>
</div>